

body{
	background-color: #f4f4f4;
	color: #555555;

	
	font: normal, 16px, Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
}

.box-1{
	background-color: #333333;
	color: #fff;
	border: 5px orange solid;
	border-radius: 15px;
	border-width: 4px;
	border-style: dotted;
	padding: 20px;
	margin: 20px 0;
}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 0.3em;
}

.box-2{
	background-color: lightgray;
	font-family: Tahoma;
	font-style: italic;
	font-weight: 600;
	border: 4px dotted black;
	border-radius: 15px;
	padding: 20px;
	margin: 20px 0;
}
.box-2 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;}

.categories{
	background-color: whitesmoke;
	border: 4px green dotted;
	padding: 10px;
	margin: 20px 0;
	border-radius: 15px;
}
.categories h2{
	text-align: center;
	text-decoration: underline;
}
.categories ul{
	padding: 1;

}